<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        .comment {
            background-color: white;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }
        .reply {
            margin-left: 20px;
        }
        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Comments</h1>
    <a href="#" onclick="showSorting();">Sort comments</a>
    <div id="sorting" class="sorting" style="display:none;">
        <form action="" method="get">
            <label>Sort comments by: </label>
            <select id="order_by" name="order_by">
                <option value="created">Date</option>
                <option value="username">Username</option>
                <option value="email">Email</option>
            </select>
            <label>Order: </label>
            <select id="order" name="order">
                <option value="">Ascending</option>
                <option value="-">Descending</option>
            </select>
            <input type="submit" value="OK">
        </form>
    </div>
    <div id="comments">
        {% for comment in comments %}
            {% include "comments_app/comment.html" with comment=comment %}
        {% endfor %}
    </div>
    <a href="#" onclick="showCommentForm();">Comment</a>
    <div id="comment-form" class="comment-form" style="display:none;">
    <h2>Add a Comment</h2>
        <form method="post" action="{% url 'comments_app:add_comment' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input name="comment" value="True">
            <button type="submit">Submit</button>
        </form>
    </div>
    {% if page > 0 %}
        <form action="" method="get">
            <input type="hidden" name="order_by" value="{{ order_by }}">
            <input type="hidden" name="order" value="{{ order }}">
            <input type="hidden" name="page" value="{{ page|add:-1 }}">
            <input type="submit" value="Previus page">
        </form>
    {% endif %}
    {% if page < n_pages %}
        <form action="" method="get">
            <input type="hidden" name="order_by" value="{{ order_by }}">
            <input type="hidden" name="order" value="{{ order }}">
            <input type="hidden" name="page" value="{{ page|add:1 }}">
            <input type="submit" value="Next page">
        </form>
    {% endif %}
    <script>
        function changeVisibility(block) {
            if (block.style.display === 'none') {
                block.style.display = 'block';
            } else {
                block.style.display = 'none';
            }
        }
        function showReplyForm(commentId) {
            const replyForm = document.getElementById('reply-form-' + commentId);
            changeVisibility(replyForm)
        }
        function showCommentForm() {
            const commentForm = document.getElementById('comment-form');
            changeVisibility(commentForm)
        }
        function showReplies(commentId) {
            const replies = document.getElementById('replies-' + commentId);
            changeVisibility(replies)
        }
        function showSorting() {
            const sorting = document.getElementById('sorting');
            changeVisibility(sorting)
        }
    </script>
</body>
</html>